.i-calculator {
    position: relative;
    top: -44rem;
    left: 16rem;
    z-index: 3;
    .card {    
        height: auto;
        width: 21rem;
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
        .hdr {
            text-align: center;
            height: 3rem;
            label {
                font-weight: 600;
                color: darkslategray;
            }
        }
    }
    .vals {
        display: grid;
        line-height: 1.6;
        padding: 10px 0px;
        label {
            font-size: 12px;
            font-weight: 600;
            color: #8080809e;
        }
        span {
            font-size: 20px;
            font-weight: 600;
            color: #656565;
        }
    }
    .range {
        padding: 10px 0px;
        span {
            font-size: 12px;
            font-weight: 600;
            color: gray;
        }
    }
    .calculator-action {
        height: 20rem;
        width: 14rem;
        background-color: #653398;
        border-radius: 0px 30px 30px 0px;
        position: relative;
        top: -27rem;
        left: 21.3rem;
        z-index: 3;
        box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
        text-align: center;
        padding-top: 3rem;
        .vals {
            label {
                color: #d8d4d4;
            }
            span {
                color: white;
            }
        }
    }
}