<div class="i-calculator">
    <div class="card">
        <div class="hdr">
            <label>Eligibility Calculator</label>
        </div>
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col-12 p-md-12">
                <div class="vals">
                    <label>Monthly Income</label>
                    <span>&#x20b9; {{ salary | number }}</span>
                </div>
                <p-slider [(ngModel)]="salary" (onChange)="baseChange($event)" [step]="10" [min]="10000" [max]="150000"></p-slider>
                <div class="p-d-flex p-jc-between range">
                    <span>&#x20b9;  {{ 0 | number }}</span>
                    <span>&#x20b9;  {{ 150000 | number }}</span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <div class="vals">
                    <label>Monthly Expense</label>
                    <span>&#x20b9; {{ expense | number}}</span>
                </div>
                <p-slider [(ngModel)]="expense" [max]="salary" [step]="10"></p-slider>
                <div class="p-d-flex p-jc-between range">
                    <span>&#x20b9;  {{ 0 | number }}</span>
                    <span>&#x20b9;  {{ salary | number }}</span>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <div class="vals">
                    <label>Repayment Tenure</label>
                </div>
                <p-dropdown
                  inputId="state"
                  [options]="duration"
                  [(ngModel)]="selectedDuration"
                  placeholder="Select"
                  optionLabel="name"
                  name="name"
                ></p-dropdown>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <div class="switch">
                    <label>Do you have any Existing Loans?</label>
                    <p-inputSwitch [(ngModel)]="checked2"></p-inputSwitch>
                </div>
            </div>
            <div class="p-field p-col-12 p-md-12">
                <div class="vals">
                    <label>EMI of Existing loan (optional)</label>
                </div>
                <p-inputNumber placeholder="&#x20b9; 00.00" [(ngModel)]="eLoan" mode="currency" currency="INR" locale="en-IN" [minFractionDigits]="2"></p-inputNumber>
            </div>
        </div>
    </div>
    <div class="calculator-action">
        <div class="vals">
            <label>Loan Amount</label>
            <span><span>&#x20b9;</span> {{(salary - expense) | number }}</span>
        </div>
        <div class="vals">
            <label>Your EMI will be</label>
            <!-- Formula ( (salary - expense) / EMImonths )-->
            <span>&#x20b9; {{ (salary - expense) / selectedDuration.code | number:'1.0-0' }}</span>
        </div>
        <div class="action">
            <button pButton type="button" label="Get Money" class="p-button-raised p-button-rounded hoverEnabled"></button>
        </div>
    </div>
</div>