<div class="p-d-flex p-jc-between header" [class.isScrolled]="isScrolled">
    <div class="p-d-flex logo">
      <img src="/assets/logo/logo.png">
    </div>
    <div class="p-d-flex p-ai-center">
      <div class="p-mb-2 p-mr-2">
        <button pButton type="button" label="Products" class="p-button-text" (click)="scrollToElement('one')"></button>
      </div>
      <div class="p-mb-2 p-mr-2">
        <button pButton type="button" label="Solutions" class="p-button-text" (click)="scrollToElement('two')"></button>
      </div>
      <div class="p-mb-2 p-mr-2">
        <button pButton type="button" label="Pricing" class="p-button-text"></button>
      </div>
      <div class="p-mb-2 p-mr-2">
        <button pButton type="button" label="Login" class="p-button-raised p-button-rounded"></button>
      </div>
      <div class="p-mb-2 p-mr-2">
        <button pButton type="button" label="Get Started" class="p-button-raised p-button-rounded"></button>
      </div>
    </div>
  </div>