.header {
    transition: background-color 500ms;
    &.isScrolled {
        background-color: white;
        .logo {
            height: 4rem;
        }
    }
    .logo {
        height: 5rem;
        width: 10rem;
        transition: height 500ms;
        img {
            height: 66px;
            width: auto; 
            margin: auto;
        }
    }
}