/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-family: 'Montserrat', sans-serif;
        .main-wrap {
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: #FCFCFF;
            // for header
            .header {
                position: absolute;
                width: 100%;
                padding: 0rem 1rem;
                z-index: 999;
            }

            // slide one 
            .slide-one {
                height: 50rem;
            }

            //slide two
            .slide-two {
                height: 50rem;
            }
        }

        //general components
        .p-button {
            &.p-button-text {
                &:hover {
                    .p-button-label {
                        color: #653398;
                    }
                }
            }
            &.p-button-rounded {
                &.solid {
                    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
                    border: solid 2px #653398;
                    .p-button-label {
                        color: white;
                    }
                }
                &.hoverEnabled {
                    &:hover {
                        background: transparent linear-gradient(90deg, #653398 0%, #663399 100%) 0% 0% no-repeat padding-box;
                        border: solid 2px #653398;
                        .p-button-label {
                            color: white;
                        }
                    }
                }
            }
            .p-button-label {
                color: #222222;
                font-size: 14px;
                font-weight: 600;
            }
            &.p-button-rounded {
                padding: 0px 30px;
                height: 40px;
                font-weight: 600;
                border: solid 2px #663399;
                background-color: white;
                border-radius: 24px;
                .p-button-label {
                    color: #663399;
                    font-size: 12px;
                }
                &:hover {
                    background: #ffffff;
                    border: solid 2px #9F62C9;
                }
            }
            &:focus {
                box-shadow: none;
            }
        }
        
        p-slider {
            .p-slider {
                &.p-slider-horizontal {
                    &.p-component {
                        .p-slider-handle {
                            height: 0.8rem;
                            width: 0.8rem;
                            border: 2px solid #6f3e9f;
                            top: 90%;
                        }
                        .p-slider-range {
                            background: #6f3e9f;
                        }
                    }
                }
            }
        }
        p-dropdown {
            .p-dropdown {
                border: none !important;
                border-bottom: 1px solid #dee2e6 !important;
                border-radius: 0px;
                &.p-focus {
                    box-shadow: none !important;
                    border-bottom: 1px solid #dee2e6 !important;
                }
                .p-dropdown-label {
                    font-size: 20px;
                    font-weight: 600;
                    color: #656565;
                }
            }
        }
        .switch {
            display: inline-flex;
            align-items: center;
            line-height: 2;
            label {
                font-size: 12px;
                font-weight: 600;
                color: #8080809e;
            }
            p-inputswitch {
                margin-left: 3rem;
                .p-inputswitch {
                    width: 2rem;
                    height: 1rem;
                    &.p-inputswitch-checked {
                        .p-inputswitch-slider {
                            background: #663399;
                        }
                        &:hover {
                            .p-inputswitch-slider {
                                background: #663399;
                            }
                        }
                    }
                    &.p-focus {
                        .p-inputswitch-slider {
                            box-shadow: none !important;
                        }
                    }
                    .p-inputswitch-slider {
                        &::before {
                            width: 0.8rem;
                            height: 0.8rem;
                            left: 0.1rem;
                            margin-top: -0.4rem;
                        }
                    }
                }
            }
        }
        .p-inputtext {
            border: none;
            border-bottom: 1px solid #dee2e6;
            border-radius: 0px;
            font-size: 20px;
            font-weight: 600;
            color: #656565;
            &:focus {
                box-shadow: none !important;
                border-bottom: 1px solid #dee2e6 !important;
            }
        }
    }
}