/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
    width: 100%;
    body {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;
        font-family: Montserrat-Medium;
        .main-wrap {
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: #FCFCFF;
            // for header
            .header {
                position: absolute;
                width: 100%;
                padding: 0rem 1rem;
                z-index: 999;
            }

            // slide one 
            .slide-one {
                height: 100vh;
            }

            //slide two
            .slide-two {
                height: 100vh;
            }
        }

        //general components
        .p-button {
            .p-button-label {
                color: #222222;
                font-size: 14px;
                font-weight: 600;
            }
            &.p-button-rounded {
                height: 24px;
                font-weight: 600;
                border: solid 2px #663399;
                background-color: white;
                border-radius: 24px;
                .p-button-label {
                    color: #663399;
                    font-size: 12px;
                }
                &:hover {
                    background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%) 0% 0% no-repeat padding-box;
                    border: solid 2px #9F62C9;
                    .p-button-label {
                        color: white;
                    }
                }
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
}