<div class="slide-two">
    <div class="p-grid">
        <div class="p-col">
            <div class="p-d-flex p-jc-center slides p-flex-column">
                <div class="slide p-col-2 p-shadow-2 p-as-center">
                    <div class="thumb">
                        <img src="../../assets/svg/secondSlide/Get Paid Instantly.png">
                    </div>
                    <h5 class="heading">Quick cash disbursement</h5>
                    <div class="info">
                        <span>Get terms loans that your business needs within 72 hrs</span>
                    </div>
                </div>
                <div class="slide p-col-2 p-shadow-2 p-as-center">
                    <div class="thumb">
                        <img src="../../assets/svg/secondSlide/Low interest rate.png">
                    </div>
                    <h5 class="heading">Low-interest rate</h5>
                    <div class="info">
                        <span>Achieve your financial goals with an amazing interest rate starting at 13% per annum</span>
                    </div>
                </div>
                <div class="slide p-col-2 p-shadow-2 p-as-center">
                    <div class="thumb">
                        <img src="../../assets/svg/secondSlide/Secure Payments.png">
                    </div>
                    <h5 class="heading">Zero Paperwork</h5>
                    <div class="info">
                        <span>Get started instantly by submitting only your basic details & bank statements</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="p-d-flex p-jc-center slides second p-flex-column">
                <div class="slide p-col-2 p-shadow-2 p-as-center">
                    <div class="thumb">
                        <img src="../../assets/svg/secondSlide/freelancer_feature_icon_6@1.5x.png">
                    </div>
                    <h5 class="heading">Ace your business finances</h5>
                    <div class="info">
                        <span>Manage banking, accounting & everything in between, on one platform</span>
                    </div>
                </div>
                <div class="slide p-col-2 p-shadow-2 p-as-center">
                    <div class="thumb">
                        <img src="../../assets/svg/secondSlide/Covid.png">
                    </div>
                    <h5 class="heading">Loans to fight COVID-19</h5>
                    <div class="info">
                        <span>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-5">
            <div class="footer-action">
                <h1>Boost your business with Open</h1>
                <hr>
                <div class="info">
                    <span>Get your hands on a term loan that’s crafted for your business</span>
                </div>
                <div class="action">
                    <button pButton type="button" label="Get an Open Account" class="p-button-raised p-button-rounded"></button>
                </div>
            </div>
        </div>
    </div>
</div>