<div class="p-d-flex slide-one">
    <div class="p-md-5">
        <div class="backdrop left">
            <img class="circle" src="../../assets/svg/blob-small.svg">
            <h1>We make it Super Simple</h1>
            <img class="post" src="../../assets/images/collect_img-video.png">
            <img class="dots" src="../../assets/svg/accounting_dots.svg">
        </div>
    </div>
    <div class="p-md-7">
        <div class="backdrop right">
            <img class="circle" src="../../assets/svg/circle.svg">
            <app-interactive-calculator></app-interactive-calculator>
            <img class="dots" src="../../assets/svg/accounting_dots.svg">
        </div>
    </div>
</div>