.slide-one {
    margin: 0px;
    &.p-grid {
        margin: 0px;
        div {
            margin: 0px;
            padding: 0px;
        }
    }
    .backdrop {
        overflow: hidden;
        height: 100%;
        &.left {
            .circle {
                height: 28rem;
                position: relative;
                top: 8rem;
                left: -7rem;
            }
            h1 {
                position: relative;
                top: -24rem;
                left: 16rem;
                width: 22rem;
            }
            hr {
                position: relative;
                top: -25rem;
                left: 16rem;
                width: 12rem;
                height: 0.4rem;
                background-color: #000000;
                border-radius: 20px;
                padding: 0px;
                margin: 0px;
            }
            .post {
                height: 17rem;
                width: auto;
                position: relative;
                left: 7rem;
                top: -16rem;
                z-index: 3;
            }
            .dots {
                height: 3rem;
                width: auto;
                position: relative;
                left: 20rem;
                top: -17rem;
                z-index: 2;
            }
        }
        &.right {
            .circle {
                height: 52rem;
                position: relative;
                top: -12rem;
                left: 7rem;
            }
            .dots {
                height: 4rem;
                position: relative;
                top: -65rem;
                left: 26rem;
            }
        }
    }
}