.slide-one {
    .backdrop {
        overflow: hidden;
        height: 100%;
        &.left {
            .circle {
                height: 28rem;
                position: relative;
                top: 8rem;
                left: -7rem;
            }
            h1 {
                position: relative;
                top: -20rem;
                left: 16rem;
                width: 18rem;
                font-family: -webkit-pictograph;
            }
            .post {
                height: 17rem;
                width: auto;
                position: relative;
                left: 7rem;
                top: -16rem;
                z-index: 3;
            }
            .dots {
                height: 3rem;
                width: auto;
                position: relative;
                left: 20rem;
                top: -17rem;
                z-index: 2;
            }
        }
        &.right {
            .circle {
                height: 52rem;
                position: relative;
                top: -12rem;
                left: 7rem;
            }
            .dots {
                height: 4rem;
                position: relative;
                top: -43rem;
                left: 29rem;
            }
        }
    }
}